.mainDiv{
    width: 75%;
    margin-left: 10%;
   
}

td{
   
    height: 5%;
    padding: 3px;
}

tr{
    margin-bottom: 15%;
}

.errorMsg
{
    color: red;
    font-style: italic;
    font-size: small;
}