<div style="background-color: chocolate;width: 100%;height: 30px;">
    <table style="width: 100%">
        <tr style="width: 100%">
            <td style="width: 15%"> <a routerLink="camera" > Camera</a>   </td>
            <td style="width: 15%"> <a routerLink="phone"> Phone</a>   </td>
            <td style="width: 15%"> <a routerLink="laptop"> Laptop</a>   </td>
            <td style="width: 15%"> <a routerLink="smarttv"> Smart TV</a>   </td>
            <td style="width: 15%"> <a routerLink="addProduct"> Admin-Add</a>   </td>
            
        </tr>
    </table>
</div>

