<div class="newsHolder">
    <div class="news"> 
        <div class="heading">
            Violation Of Rights': Minister Backs Donald Trump Twitter Ban Reversal
        </div>
        <div class="content">
            Mr Trump's account, which had more than 88 million followers, was permanently suspended in 2021 after the violent January 6 takeover of the US Capitol for his alleged involvement in inciting the violence. Around 150 law enforcement officers were reportedly injured and two people died during the riot.

The billionaire Tesla and SpaceX CEO said at a Financial Times event on May 10 that he would reverse the ban if his purchase of the social media giant goes through. Mr Musk, who has called himself a "free speech absolutist," recently inked a $44 billion deal to acquire the social media platform.        
        </div>
    </div>

    <div class="news"> 
        <div class="heading">
            Xi Jinping reportedly suffering from 'cerebral aneurysm'

        </div>
        <div class="content">
            is suffering from "cerebral aneurysm" and had to be hospitalized at the end of 2021, media reports said. 
        </div>
    </div>
    
    
    
</div>
