.RedStyle{
    width: 70px;
    height: 27px;
    border: 1px solid black;
    margin: 2px;
    background-color: red;
}

.GreenStyle{

  width: 70px;
  height: 27px;
  border: 1px solid black;
  margin: 2px;
  background-color: greenyellow;
}