.box{
    margin-top: 5%;
    margin-left: 35%;
    width: 200px;
    height: 200px;
    border-width: thin;
    border-color: black;
    border-radius: 5%;
    background-color: bisque;
    font-style: italic;
    padding: 3%;
}

.userInfo{
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
}

#abc{
    color: blue;
    size: 50px;
}

.myAction{
    margin-left: 2%; 
    background-color: bisque; 
    padding: 1%;
    border-radius: 12%;
}

.popUpMsg{
    font-style: italic;
    font-size: small;
    color: red;
}