<div class="top">

    <table style="width: 100%;">
      <tr>
        <td style="width: 80%;"><h1><a routerLink="home"> My Bank App</a> </h1></td>
        <td style="width: 20%;"><h4 *ngIf="status == true">Welcome {{username}}</h4></td>
      </tr>
    </table>
 </div>
<table style="width: 100%;">
  <tr>
    <td style="width: 12%;"> <app-link-panel [adminStatus]="isAdmin"></app-link-panel>  </td>
    <td style="width: 88%;" *ngIf="status == false"> <app-home (loginAcknowlegment)="getAck($event)"></app-home>   </td>
    <td style="width: 88%;" *ngIf="status == true"> <app-main-panel></app-main-panel>   </td>
    
  </tr>
</table>